/* Base */
html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
}

header,
section.full {
  min-height: 80vh;
}

section.full--alternate {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 49px, rgba(225,225,225, 0.7) 50px);
}

section.full--dark {
  background-color: #191919;
  color: white;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1920px;
}

.header {
  z-index: -2;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header__textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.header__textgreeting {
  width: 100%;
}

.about__outercontainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__innercontainer {
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: white;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects__card {
  margin-bottom: 16px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  overflow: hidden;
}

.projects__descriptioncontainer {
  padding-left: 16px;
  padding-right: 16px;
  flex-basis: 120px;
  flex-shrink: 0;
}

.projects__skills {
  font-size: 1rem;
}

.footer__section {
  margin-top: 80px;
}
.footer__container {
  padding: 64px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer__connect {
  flex-grow: 1;
}
.footer__title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.footer_description{
  color: #ffffff;
  margin: 40px 0;
}
.logo__container {
  margin-top: 24px;
  align-self: center;
}
.logo__link {
  text-decoration: none;
}
.logo__linkedin {
  color: #ffffff;
}
.footer__cta {
  background-color:#191919;
  font-size: 1.5rem;
	border-radius:32px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:16px 31px;
	text-decoration: none;
	text-shadow:0px 1px 0px #171717;
}
.footer__cta:hover {
  background-color: #ffffff;
  color: #191919;
  transition-duration: 1.5s;
}

#header__photo {
  max-width: 210px;
}

@media screen and (min-width: 768px) {
  .about__container {
    display: flex;
    justify-content: center;
  }

  .about__innercontainer {
    width: 50%;
    padding: 16px;
    box-shadow: 0 0 5px black;
  }

  .about__paragraph:nth-of-type(1) {
    margin-top: 0;
  }
  .about__paragraph:last-of-type {
    margin-bottom: 0;
  }

  #header__photo {
    max-width: 280px; 
  }
  
}

@media screen and (min-width: 1024px) {
  .header {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .header__imagecontainer {
    margin-top: 0.67em;
  }
  .header__textcontainer {
    height: 100%;
    margin-left: 24px;
  }
  .projects__card {
    max-width: 47%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  #header__photo {
    max-width: 480px;
  }
}